.display,
.operand_buttons,
.num_buttons,
.equalButton {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
}

.display {
  height: 70px;
  background-color: #f3f4f6;
  border: 5px solid white;
  position: relative;
}

.display span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 22px;
  font-weight: 600;
}

.operand_buttons {
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 5px;
}
.num_buttons {
  gap: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.num_buttons button {
  width: 73.3px;
  height: 60px;
}
.num_buttons button:nth-last-child(-n + 2) {
  width: 112.5px;
}

button {
  padding: 0px;
  font-weight: 500;
  border-radius: 5px;
}

.operand_buttons button,
.num_buttons button,
.equalButton button {
  background-color: transparent;
  border: 1px solid lightgrey;
}

.equalButton button {
  width: 100%;
  height: 70px;
  background-color: #5d5fef;
  color: white;
}

.operand_buttons button:active,
.num_buttons button:active,
.equalButton button:active {
  border: 1px solid #5d5fef;
}
