.display,
.operand_buttons,
.num_buttons,
.equalButton {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px 4px 6px 0px #0000001a;
}

.display {
  height: 70px;
  background-color: dimgrey;
  border: 1px solid grey;
  color: white;
  border-radius: 6px 6px 0 0;
  position: relative;
}

.display span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 22px;
}

.operand_buttons {
  height: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.num_buttons button {
  width: 33.33%;
  height: 60px;
  background-color: grey;
  border: 1px solid dimgrey;
  color: white;
}
.num_buttons button:nth-last-child(-n + 2) {
  width: 50%;
}

.num_buttons button:active {
  background-color: rgb(192, 189, 189);
}

button {
  padding: 0px;
  font-weight: 600;
}

.equalButton {
  border-radius: 0 0 6px 6px;
}

.operand_buttons button,
.equalButton button {
  border: 1px solid grey;
  background-color: #ffa500;
  color: white;
}

.equalButton button {
  width: 100%;
  height: 50px;
  border-radius: 0 0 6px 6px;
}

.operand_buttons button:active,
.equalButton button:active {
  background-color: #d8900a;
}
