* {
  font-weight: 500;
  font-size: 20px;
  font-family: "system-ui";
}

.app_wrapper {
  display: grid;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  grid-template:
    "h1 h2"
    "c d";
}

.grid_center {
  justify-self: center;
  align-self: center;
}

.app_header1 {
  grid-area: h1;
}

.app_header2 {
  grid-area: h2;
  justify-self: center;
  align-self: self-end;
}

.app_sidebar {
  grid-area: c;
}

.app_dropContainer {
  grid-area: d;
}

.calculator {
  width: 300px;
  height: 500px;
  display: grid;
}
