* {
  font-weight: 500;
  font-size: 20px;
  font-family: "system-ui";
}

.app_wrapper {
  display: grid;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  grid-template:
    "h h"
    "c d";
}

.grid_center {
  justify-self: center;
  align-self: center;
}

.app_header {
  grid-area: h;
  align-self: self-end;
}

.app_sidebar {
  grid-area: c;
}

.app_dropContainer {
  grid-area: d;
}

.calculator {
  width: 250px;
  height: 470px;
  border-radius: 5px;
  border: 2px solid #c4c4c4;
  display: grid;
}
